<!DOCTYPE html>
<html>
<head>
   
   
    <title>@ViewBag.Title - HolidayManagment DVSE </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
  
    <script src="http://knockoutjs.com/downloads/knockout-3.4.2.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/Dashboard/DashboardModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Dashboard/TeamModel.js"></script>
    <script type="text/javascript" src="~/Scripts/Dashboard/UserModel.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">





</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HolidayManagment", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HolidayManagement DVSE</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
